@import "tailwindcss";

@theme {

 
  --color-primary: #EA4C89;         /* Dribbble Pink */
  --color-primary-hover: #F06292;   /* Hover Pink */
  --color-gray-dark: #3D3D4E;       /* Dark Gray */
  --color-gray-light: #E7E7E9;      /* Light Gray */
  --color-gray-muted: #6E6D7A;      /* Muted Text Gray */
  --color-gray-border: #D1D1D1;     /* Border Gray */
  --color-light-pink: #faebf9;
  --color-link-hover: #7b7194;
  --color-nav-dropdown-border:#e7e7e980;
  --color-from: #f3f3f6;

  --font-sans:  var(--font-source-sans), Georgia, 'Times New Roman', Times, serif;
  --font-roboto: var(--font-roboto);
  
}


body{
  background-color: blanchedalmond;
}

.animate-expand{
  animation: expand 1s ease-in-out forwards;
}

@keyframes expand {
    from{
      height: 0px;
    }
    to{
      height: var(--height)
    }
}


.animate-collapse{
  animation: collapse 1s ease-in-out forwards;
}

@keyframes collapse {
    from{
      height: var(--height);
    }
    to{
      height: 0px;
    }
}

